<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../_css/style.css" />
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="ahortcut icon" type="imagem/png" href="icon-512x512.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>

    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="#">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam fuga quae a rerum temporibus! Ratione quisquam ipsum a sed laudantium minus sit aperiam. Accusantium, magni.</p>

    <h2>Teste Título</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam fuga quae a rerum temporibus! Ratione quisquam ipsum a sed laudantium minus sit aperiam. Accusantium, magni</p>

    <h2>Teste Título</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam fuga quae a rerum temporibus! Ratione quisquam ipsum a sed laudantium minus sit aperiam. Accusantium, magni</p>

    <h2>Teste Título</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam fuga quae a rerum temporibus! Ratione quisquam ipsum a sed laudantium minus sit aperiam. Accusantium, magni</p>
    
    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('generate-sw.js');
        }
    </script>
</body>
</html>