<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Example of an Progressive Web App (PWA)">
    <link rel="stylesheet" href="../_css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="ahortcut icon" type="imagem/png" href="icon-512x512.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWA</title>
</head>
<body>

    <h1>Offline</h1>
    
    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('generate-sw.js');
        }
    </script>
</body>
</html>